$dark: #33383D;
$light: #FFF;

$primary: #570D2A;
$secondary: #CE9864;

$text-light: #929597;

$padding: 2rem 10%;
$padding-responsive: 2rem 15%;

// .container {
//     padding: 2rem 10%;
// }

// @media screen and (min-width: 1024px) {
//     .container {
//         padding: 2rem 15%;
//     }
// }